!.gitkeep
**/__pycache__/*
**/.pytest_cache/*
*.pyc
.DS_Store

.envrc
.vscode/settings.json

.ipython/**
.ipynb_checkpoints/**
.local/**
.keras/**

/models/**/*.h5
/models/**/variables.*
/models/**/*.pb
/logs/**/events.*
